%p The following is a collection of articles about the state of education in the U.S.

%p They are not specific to TILT necessarily but describe many of the problems TILT hopes to help solve.

%p
  If you have a suggestion for another article, please let us know by emailing
  = mail_to("research@tiltschools.com", "research@tiltschools.com")

%h4 Student-Teachers
%ul
  %li= link_to("Benefits Seen for Students Teaching Virtual Pupils", "http://www.edweek.org/ew/articles/2010/10/28/10avatar.h30.html", :target => "_blank")
  %li= link_to("Learning By Teaching", "http://en.wikipedia.org/wiki/Learning_by_teaching", :target => "_blank")

%h4 Student and Teacher Challenges
%ul
  %li= link_to("Building a Better Teacher", "http://www.nytimes.com/2010/03/07/magazine/07Teachers-t.html", :target => "_blank")
  %li= link_to("Valedictorian Speaks Out Against Schooling in Graduation Speech", "http://blog.swiftkickonline.com/2010/07/valedictorian-speaks-out-against-schooling-in-graduation-speech.html", :target => "_blank")

%h4 Curriculum Strategies
%ul
  %li= link_to("4,100 Students Prove ‘Small Is Better’ Rule Wrong", "http://www.nytimes.com/2010/09/28/education/28school.html", :target => "_blank")

%h4 Waiting For Superman Commentary
%ul
  %li= link_to("We are not Waiting for Superman, We are Empowering Superheroes", "http://startl.org/2010/09/24/we-are-not-waiting-for-superman-we-are-empowering-superheroes/", :target => "_blank")
  %li= link_to("The Evidence Behind Waiting for Superman: A CALDER Fact Sheet", "http://www.caldercenter.org/facts-behind-superman.cfm", :target => "_blank")
  %li= link_to("The Myth of Charter Schools", "http://www.nybooks.com/articles/archives/2010/nov/11/myth-charter-schools/", :target => "_blank")
//  %li= link_to("", :target => "_blank")

