!!! 5
%html
  %head
    %title Tilt Schools
    = csrf_meta_tag
    = stylesheet_link_tag("compiled/site.css?#{Rails.application.cache_buster}")

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-19687410-1']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body
    #content
      .header
        = link_to(image_tag("tilt_logo.jpg"), root_path)
        .follow
          = link_to(image_tag("twitter_icon.jpg"), "http://twitter.com/tiltschools", :target => "_blank")
          = link_to(image_tag("facebook_icon.jpg"), "http://www.facebook.com/pages/TILT-Schools/146148865432546", :target => "_blank")

        %p.navigation
          = link_to("Home", root_path, :style => "border-left: none;")
          = link_to("Articles", articles_path)
          = link_to("Get Involved", contact_path, :style => "border-right: none;")

      = yield

