!!! 5
%html
  %head
    %title Tilt Schools
    = csrf_meta_tag
    = stylesheet_link_tag("compiled/site.css?#{Rails.application.cache_buster}")

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-19687410-1']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    %style
      == body { width: 900px; margin: auto; background-color: darkblue; }
      == a img { border: none; }
      == #content { background-color: white; }
      == header { text-align: center; }
  %body
    #content
      .header
        = link_to(image_tag("tilt_logo.jpg"), root_path)

      = yield

